header {
  width: 100%;
  max-width: 180rem;
  margin: 7.5rem auto;
  padding: 0 2rem;
  display: flex;
  gap: 15rem;
}
.headerText {
  width: 100%;
  max-width: 100rem;
}

.headParagraph,
.headLinkContainer {
  font-size: 2.5rem;
  font-weight: 200 !important;
  margin: 1.5rem 0;
  position: relative;
  left: -5rem;
  opacity: 0;
  transition: all 1s ease;
}

.headLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 200px;
  height: 45px;
  border: 3px solid #d6336c;
  padding: 0.5rem 1rem;
  transition: top 0.5s ease, left 0.5s ease;
  font-weight: 300;
  z-index: 999;
}
.headLinkSupport {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 200px;
  height: 45px;
  border: 1px solid #d6336c !important;
  border-top: none !important;
  border-left: none !important;
  z-index: 0;
  transition: all 0.5s ease;
}
.headContainer:hover .headLink {
  /* transform: translate(-1rem, -1rem); */
  top: -1rem;
  left: -1rem;
}
.headContainer:hover .headLinkSupport {
  left: 1rem;
}

/* headlink end */
.headMain::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  transform: translate(-100px, 50px);
  filter: blur(90px);
  background-color: #d6336c;
  z-index: -1;
}

.revealHeadParagraph {
  opacity: 1;
  left: 0;
}

.headerImageContainer {
  position: relative;
  width: 35rem;
  height: 35rem;
  opacity: 0;
  transition: opacity 1s ease;
}
.headerImageContainer div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-15deg);
}
.headerImageMain {
  background-image: url("../images/myProfile.jpg");
  background-size: cover;
  border: 5px solid #2e4a6f;
  z-index: 2;
  transition: transform 1s ease;
}
.headerImageMainTransformed {
  transform: translate(-20px, -10px) rotate(-15deg) !important;
}
.headerImageSupport {
  background-color: #2e4a6f;
  z-index: 1;
}
.headerImageSupport::before {
  content: "";
  position: absolute;
  top: 5rem;
  left: 5rem;
  width: 100%;
  height: 100%;
  background-color: #2e4a6f;
  filter: blur(100px);
  z-index: -1;
}

@media only screen and (max-width: 1500px) {
  .headParagraph,
  .headLinkContainer {
    font-size: 2rem;
  }
  .headerText {
    max-width: 80rem;
  }
  .headerImageContainer {
    width: 25rem;
    height: 25rem;
  }
  .headLink,
  .headLinkSupport {
    max-width: 160px !important;
  }
}
@media only screen and (max-width: 1400px) {
  .headerText {
    max-width: 80rem;
  }
}

@media only screen and (max-width: 1200px) {
  .headLink,
  .headLinkSupport {
    max-width: 170px !important;
  }
  .headParagraph,
  .headLinkContainer {
    font-size: 2.1rem;
  }
  .headerText {
    max-width: 60rem;
  }
  .headLink,
  .headLinkSupport {
    height: 40px !important;
  }
}
@media only screen and (max-width: 1024px) {
  header {
    flex-direction: column;
    align-items: center;
    gap: 5rem !important;
    margin: 0 auto !important;
  }
  .socialMediaContainer {
    display: none;
  }
  .headerText {
    max-width: 80rem;
  }

  .headerImageContainer {
    width: 30rem;
    height: 30rem;
  }
  .clickerContainer {
    margin-top: 3rem;
  }
  .headLink,
  .headLinkSupport {
    height: 42px !important;
  }
}
@media only screen and (max-width: 500px) {
  .headerImageContainer {
    width: 20rem;
    height: 20rem;
  }
  .headParagraph,
  .headLinkContainer {
    font-size: 1.8rem;
  }
  .headLink,
  .headLinkSupport {
    height: 40px !important;
    max-width: 150px !important;
  }
}
@media only screen and (max-width: 370px) {
  .headerImageContainer {
    width: 15rem;
    height: 15rem;
  }
  .headParagraph,
  .headLinkContainer {
    font-size: 1.5rem;
  }
  .headLink,
  .headLinkSupport {
    height: 35px !important;
    max-width: 135px !important;
  }
}
