.aboutSection {
  display: grid;
  max-width: 160rem !important;
  grid-template-columns: 3fr 2fr 1.5fr;
  padding: 5rem 4rem 0 4rem;
  gap: 7.5rem;
  margin-bottom: 5rem;
  position: relative;
  z-index: 1;
}
.aboutHead {
  font-size: 4.2rem;
  font-weight: 300;
  text-align: center;
  /* transition: opacity 1s ease; */
}
.aboutSection div:first-child {
  position: relative;
  transform: translateY(10rem);
  margin-left: 3rem;
  z-index: 1;
}
.aboutSection::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  width: 20%;
  z-index: -1;
  background-color: #d6336c;
  filter: blur(100px);
  border-radius: 50%;
}
.aboutSection div:nth-child(2) {
  transform: translateY(-10rem);
}
.aboutSection div:last-child {
  transform: translateY(10rem);
  z-index: 1;
  position: relative;
}
/* .aboutSection div:last-child::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  z-index: -1;
  background-color: #3e68a0;
  filter: blur(100px);
  border-radius: 50%;
} */
.aboutSection div {
  opacity: 0;
  text-align: center;
}
.aboutContent h3 {
  font-size: 3rem;
  font-weight: 200;
}
.aboutSection div p {
  font-size: 2.4rem;
  font-weight: 200;
}
.aboutContent {
  opacity: 1 !important;
  transform: translate(0) !important;
  transition: all 1s ease;
  color: #fff;
}
.aboutContent:hover p {
  color: #bac8ff !important;
  transition: color 0.5s ease;
}

@media only screen and (max-width: 1500px) {
  .aboutSection p {
    font-size: 2.2rem !important;
  }
}

@media only screen and (max-width: 1200px) {
  .aboutSection {
    grid-template-columns: 1.5fr 1fr;
  }
  .aboutContent:last-child {
    grid-column: 1/3 !important;
    padding: 0 5rem;
  }
}
@media only screen and (max-width: 1110px) {
  .aboutSection div:first-child {
    margin-left: 0 !important;
  }
}
@media only screen and (max-width: 1000px) {
  .aboutSection p {
    font-size: 2rem !important;
  }
}
@media only screen and (max-width: 768px) {
  .aboutHead {
    font-size: 4rem;
  }
  .aboutSection {
    grid-template-columns: 1fr;
  }
  .aboutSection p:first-child {
    margin: 0 !important;
  }
  .aboutContent:last-child {
    grid-column: unset !important;
    padding: 0 !important;
  }
}
@media only screen and (max-width: 535px) {
  .aboutSection p {
    font-size: 1.6rem !important;
  }
}
@media only screen and (max-width: 350px) {
  .aboutSection p {
    font-size: 1.4rem !important;
  }
}
