.socialMediaContainer {
  position: fixed;
  bottom: 0;
  left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.socialMediaContainer ion-icon {
  font-size: 3.5rem;
  opacity: 0;
  transform: translateY(20px);
  transition: transform 0.5s ease;
}

.socialMediaVerticalLine {
  height: 0rem;
  width: 4px;
  background-color: #fff;
  transition: height 0.5s ease;
}
.socialMediaIcon ion-icon {
  opacity: 1;
  transform: translateY(0px);
}
.socialMediaExpandLine {
  height: 14rem;
}
/* clicker */
.clickerContainer {
  margin-top: 15rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.25s ease;
}
.clickerContainer img {
  width: 50px;
  height: 50px;
  stroke: white;
  cursor: pointer;
}
.clickerContainer a {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer !important;
}

@keyframes click {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.clickerContainer a ion-icon {
  width: 100px;
  height: 30px;
  animation-name: click;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
}
.bottomLink {
  opacity: 1 !important;
}
.bottomLink a {
  width: 100%;
  max-width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
}
.bottomLink a img {
  width: 50px !important;
  height: 50px !important;
}
.bottomLink ion-icon {
  font-size: 3rem;
  animation-name: click;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
}
