* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111821;
  transition: background-color 2s;
}

li {
  list-style: none;
  font-weight: 300;
}
